<div class="home-root">
    <div class="home-top">
    
    </div>
    <!-- Content -->
    <div class="container">
        <div class="root">
                <div class="container-top">
                        <h3>TO DO</h3>
                        <img src="../../assets/images/icon-sun.svg" alt="sun"/>
                </div>
                <section>
                    <input type="text" placeholder="type item here..." [formControl]="tfItem"
                     (keydown.enter)="onKeydown($event)" [value]="tfItem.value"/>
                    <button (click)="onAddItem()" >Add</button>
                </section>
                <div class="items-list">
                    <div class="list">
                        <ng-container *ngFor="let item of items">
                            <app-item
                            [itemText]="item.text"
                            [isDone]="item.isDone"
                            ></app-item>        
                        </ng-container>
                    </div>
                    <div class="items-list-bottom">
                        <p>0 items left</p>
                        <div class="filters">
                            <p>All</p>
                            <p>Active</p>
                            <p>Completed</p>
                        </div>
                        <p>Clear Completed</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="home-bottom">
    </div>
</div>